appdirs==1.4.4
atomicwrites==1.4.0
brotlipy==0.7.0
conda-repo-cli==1.0.75s
conda-verify==3.4.2
constantly==15.1.0
cssselect==1.1.0
datashape==0.5.4
dnspython==2.4.2
et-xmlfile==1.1.0
Flask-Cors==4.0.0
fonttools==4.25.0
inflection==0.5.1
jsonpointer==2.1
munkres==1.1.4
openpyxl==3.0.10
patsy==0.5.3
pep8==1.7.1
ply==3.11
pyarrow==11.0.0
pyasn1-modules==0.2.8
PyDispatcher==2.0.5
pyls-spyder==0.4.0
pymongo==4.6.1
PyQt5-sip==12.11.0
queuelib==1.5.0
webencodings==0.5.1
xgboost==2.0.1
